<!-- to include "header and footer from resp components" -->

<%-include("header") -%>
   
    <div class="box" id="heading">
       
        <h1> <%= listTitle %> </h1> 


    <!-- kindOfDay  -- render of "day" variable from app.js -->

      </div>

    <div class="box">

        <% for(var i=0;i<newListItem.length;i++) { %>
       <div class="item">

            <input type="checkbox">

            <p><%= newListItem[i] %></p>
        </div>
            
             
          <% } %>


       <form class="item" action="/" method="post"> 
        <!-- "autocomplete--for suggestions" -->
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        
            <!-- <button type="submit" name="button" value="a value">+</button> -->


            <!-- listTitle for eg - "work" -->
            <button type="submit" name="list" value=<%=listTitle%>>+</button>
        
        </form>   


    </div>


        <!-- <ul>
           
            <li>Buy Food</li>
            <li> Cook Food</li>
            <li>Eat Food</li>

             rendering/fetching "newItem" from app.js  -->
            
            
            <!-- add items in a single list -->
            <!-- <li> <%= newListItem  %> </li> -->


            <!-- <% for(var i=0;i<newListItem.length;i++) { %>
              
                <li><%= newListItem[i] %></li>
                 
              <% } %> -->


         

        <!-- </ul> --> 




<!-- to post information to "/"(home route) which is inside form-->
<!-- to post info from webpage to server -->


<!-- <form action="/" method="post"> 
    <input type="text" name="newItem" id="">

    <button type="submit" name="button">Add</button>

</form>    -->
    
<%-include("footer") -%>